/* Setup */
@import url(/assets/css/fonts.css);

body {
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
  color: #111;
  font-weight: 300;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
}

a, a:visited, a:hover {
  color: #111;
  text-decoration: none;
}

a:hover {
  color: #555;
}

.transition, .btn, a {
  transition: .4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -webkit-transition: .4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: .4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

.branding {
  width: 50px;
  margin-right: 10px;
  /*bottom: 15px;*/
  /*right: 4%;*/
  /*position: absolute;*/
  /*z-index: 125;*/
}

.inline {
  display: inline-flex;
}

.no-dot {
  list-style-type: none;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.img-center {
  margin: 0 auto;
}

.flex-wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.container-fluid {
  padding: 0 4%;
}

.btn {
  background-color: white;
  border: 0;
  color: #111;
  width: auto;
  padding: 3px 5px;
  display: inline-block;
  min-width: 65px;
  min-height: 19px;
  text-align: center;
  vertical-align: middle;
  padding: 8px 10px;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px, rgba(0, 0, 0, 0.227451) 0px 2px 5px;
  text-shadow: 0px 0px 3px rgba(0,0,0,.3);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover {
  background-color: #ccc;
  color: #555;
  border-color: #555;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  cursor: pointer;
}

.no-min-width {
  min-width: auto;
}

.btn-yellow {
  background-color: #ffb300;
  color: white;
}

.btn-yellow:hover {
  background-color: #ffc411;
  color: white;
}

.btn-blue {
  background-color: #42a5f5;
  color: white;
}

.btn-blue:hover {
  background-color: #53b6f7;
  color: white;
}

.btn-transparent {
  background-color: transparent;
}

.btn-small {
  padding: 6px 5px;
}

.seperator {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0 10px 0;
}

.seperator-dark {
  border-color: rgba(0, 0, 0, 0.3);
}

/* Header */
#header {
  background-color: #174da0;
  color: white;
  box-shadow: 0px 0px 10px 0px black;
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 20px 12px;
}

.global-data {
  padding: 0 5px;
  border-right: 1px solid white;
}

#name {
  flex-grow: 1;
  text-shadow: 0px 0px 5px rgba(0,0,0,.5);
}

/* Main */
#main {
  background-color: white;
  color: #222;
  /*flex: 1 1 0%;*/
  /*height: calc(100vh - 86px - 109px);*/
  height: calc(100vh - 82px);
  width: 100%;
  z-index: 50;
  box-shadow: 0px 3px 10px rgba(0,0,0,.2);
}

/* Fix the #main height for firefox */
@media screen and (min--moz-device-pixel-ratio:0) {
  #main {
    /*height: calc(100vh - 86px - 116px);*/
    height: calc(100vh - 82px);
  }
}

#filterbar {
  background-color: #174da0;
  display: flex;
  color: white;
}

#controls {
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 10px rgba(0,0,0,.2);
  z-index: 100;
  background: #3392de;
}

#sort {
  border-radius: 0;
  font-weight: 100;
  font-size: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  text-align: left;
  padding: 10px;
  width: 100%;
}

#sort:active {
  outline: none;
}

#filter {
  display: flex;
  flex-shrink: 0; /* make sure the filter stays at it's full height */
  justify-content: space-between;
  flex-flow: row wrap;
  background-color: #174da0;
  padding-top: 5px;
  padding-right: calc(4% - 10px);
}

#filterbar .btn {
  margin: 10px;
  margin-left: 0;
}

.filter-title, .get-started h2 {
  margin-top: 10px;
  text-shadow: 0px 0px 3px rgba(0,0,0,.3);
}

.toggle-buttons {
  display: flex;
  max-width: 100%;
  width: 100%;
  justify-content: space-between;
  flex-flow: row wrap;
}

#sort, .toggle-reverse {
  margin-right: 0px !important;
}

.active {
  font-weight: bold;
  background-color: #222;
}

#filter-search {
  background-color: #1565c0;
  color: white !important;
  border: none;
  font-size: 16px;
  padding: 12px;
  padding-right: 0px;
  margin: 10px 0;
  width: calc(100% - 12px);
  box-shadow: inset rgba(0, 0, 0, 0.156863) 0px 1px 10px, rgba(0, 0, 0, 0.227451) 0px 1px 10px;
}

.search-clear {
  position: relative;
  left: -25px;
  height: 0;
  width: 0;
  color: #42a5f5;
}

.search-clear:hover {
  color: #66bdf9;
  cursor: pointer;
  box-shadow: 7px 8px 14px 4px #3392de;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:  white;
  opacity: .6;
  text-emphasis: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
  opacity: .6;
  text-emphasis: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  opacity: .6;
  text-emphasis: 1;
}

#filter-search:active, #filter-search:focus, #filter-search:hover {
  outline: none;
  box-shadow: inset rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
}

.filterbar-toggle {
  font-size: 26px;
}

.filterbar-toggle:hover {
  cursor: pointer;
}

.get-started {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}

#information {
  display: flex;
  flex-flow: row wrap;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  flex: 1 1 0%;
  padding: 0;
}

.information-item div {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  height: auto;
}

.information-item div * {
  padding: 0 5px;
  min-width: 20%;
}

.information-item .information-title {
  width: 100%;
  background: #222;
  padding: 3px 6px;
  margin-bottom: 5px;
}

.information-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px;
  background-color: #e0e0e0;
  box-shadow: 0px 3px 10px 1px rgba(0,0,0,.5);
  min-width: 300px;
}

.percent-changes {
  padding: 5px 15px !important;
  background-color: #222;
  max-width: 315px;
}

.positive {
  color: #81d873;
}

.negative {
  color: #e56262;
}

@media screen and (min-width: 768px){
  #main {
    display: flex;
    flex-flow: row nowrap;
    max-height: 100%;
  }

  #filterbar {
    overflow-y: scroll;
    flex-flow: column nowrap;
    flex-basis: 320px;
    z-index: 75;
  }

  .filterbar-toggle {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    background-color: #2265b1;
    padding: 0 5px;
    color: white;
    box-shadow: 0px 3px 10px rgba(0,0,0,.2);
    z-index: 50;
  }
}

@media screen and (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }

  #filterbar .btn {
    min-width: 90px;
  }

  .filterbar-toggle {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: calc(100% - 10px);
    background-color: #2265b1;
    padding: 0 5px;
    color: white;
  }

  #header, #information {
    text-align: center;
  }

  #filterbar {
    flex-flow: column nowrap;
    max-height: 200px;
    overflow-y: scroll;
    z-index: 50;
  }

  #total-currencies, #btc-dominance {
    display: none;
  }

  .global-data {
    border: none;
  }

  #information {
    flex-grow: 1;
  }

  #main {
    display: flex;
    flex-flow: column nowrap;
    height: calc(100vh - 110px);
  }

  @media screen and (min--moz-device-pixel-ratio:0) {
    #main {
      height: calc(100vh - 116px);
    }
  }

  #footer {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  #total-volume {
    display: none;
  }
}

/* Footer */
#footer {
  padding: 10px 0;
  background-color: #222;
  color: white;
}

#footer a {
  color: white;
}

#footer a:hover {
  color: #ffb300;
}

/* CALCULATOR */
#calculator-toggle, #trollbox-toggle {
  height: 10px;
  cursor: pointer;
}

#calculator-toggle, #trollbox-toggle, .keys {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 0px 5px, rgba(0, 0, 0, 0.227451) 0px 0px 5px;
}

#calculator, #trollbox {
  position: absolute;
  background: #174da0;
  z-index: 150;
  width: 350px;
  height: 350px;
  bottom: -340px;
  right: 0;
  transition: .4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: .4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -webkit-transition: .4s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  box-shadow: 0px 4px 20px black;
}

.top {
  background: #42a5f5;
  height: 85px;
}

.top, .keys {
  color: white;
}
.top .input {
  height: 3em;
  flex-grow: 1;
  line-height: 3em;
  text-align: right;
  letter-spacing: 1px;
  overflow-x: hidden;
  padding-right: 30px;
}

.key {
  overflow: hidden;
}

.keys {
  height: calc(100% - 97px);
}

.keys, .keys span, .top, .top span.clear {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.keys span, .top span.clear {
  cursor: pointer;
  width: 25%;
  height: 100%;
  transition: .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -webkit-transition: .2s cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.keys span {
  height: 25%;
}

.keys span:hover, .top span.clear:hover {
  background: #53b6f7;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 2px 5px, rgba(0, 0, 0, 0.227451) 0px 2px 5px;
}

.keys span.operator, .keys span.equals {
  background: rgba(0, 0, 0, 0.15);
}

.top span.clear {
  background: #3392de;
}

/* TROLLBOX */

#trollbox {
  bottom: -440px;
  right: 350px;
  background: #53b6f7;
  display: flex;
  flex-flow: column nowrap;
  color: white;
  height: 450px;
  overflow: hidden;
}

#trollbox .title small {
  font-size: 14px;
}

#trollbox .title, #trollbox .input {
  background-color: #1565c0;
  padding: 10px;
}

#trollbox .chat {
  flex-grow: 1;
  max-height: 285px;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #222;
}

#trollbox .input {
  height: 20px;
  font-size: 16px;
  padding: 12px;
  padding-right: 0px;
  color: white;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 0px 5px, rgba(0, 0, 0, 0.227451) 0px 0px 5px;
}

#trollbox .input:active {
  outline: none;
}

#trollbox .submit {
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 0px 5px, rgba(0, 0, 0, 0.227451) 0px 0px 5px;
}
