header#header.container-fluid
  a(href="//github.com/luminoco/coinconsole" target="_blank").branding
    img(src="/assets/img/logo_main_xs.png" alt="CoinConsole logo" style="width: 100%")
  h1#name.no-margin.inline CoinConsole
  h4#total-currencies.no-margin.inline.text-center.global-data
  h4#total-market-cap.no-margin.inline.text-center.global-data
  h4#total-volume.no-margin.inline.text-center.global-data
  h4#btc-dominance.no-margin.inline.text-center.global-data(style="border-right: none;")
