#trollbox.hidden-mobile
  div#trollbox-toggle(onclick="toggleTrollbox()")
  h2.title.no-margin.no-padding Trollbox
  div.chat
  input.input(type="text" placeholder="Enter a nickname...")
  div.btn.btn-yellow.submit(onclick="sendChat(tbInput.value, tbNickname)") Send
